
$purple: #911886;
$green: #40a32d;
$red: #e0040b;
$blue: #00297d;
$orange: #f29d00;

$colors: $orange, $blue, $red, $green, $purple;
$templates: "/img/template1.png","/img/template2.png","/img/template3.png";

@for $i from 1 through length($colors) {
    $c: nth($colors, $i);

    .color-#{$i} {
        color: $c;
    }
}
.pacto-nombre {
    .no-first-letter {
        margin-left: 0px!important;
    }
    span {
        margin-top: 230px;
        font-size: 150px;
        opacity: 0.7;
        padding: 0;
        margin-left: -30px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.template {
    margin-bottom: 10px;
    border-radius: 10px;
    display:inline-block;
    text-align: center;
    background-size: cover;
    width: 700px;

    @for $i from 1 through length($templates) {
        $c: nth($templates, $i);
        &-#{$i} {
            background-image: url($c);
        }
    }
}

.template-1{
    height: 700px;
}

.template-2 {
    height: 900px;
    padding-top: 110px;
    padding-right: 20px;
    span {
        font-weight: 700;
        opacity: 1;
        font-size: 70px;
        color: $purple;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.pefil-foto{
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.template-3 {
    height: 700px;
    padding-top: 570px;
    padding-left: 30px;
    text-align: left!important;
    padding-right: 20px;
    background-size: contain!important;
    margin-bottom: 0px;
    span {
        font-weight: 400;
        opacity: 1;
        font-size: 70px;
        color: $purple;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.letra-o {
    background-position: center;
    background-repeat: no-repeat;
    color:transparent;
    background-size: contain;
    background-image: url('/img/paloma.png');
    display:inline-block;
}

.paloma {
    background-size: cover;
    background-image: url('/img/paloma.png');
    height: 80px;
    width: 80px;
    margin-bottom: 70px;
    display:inline-block;
}

.input-container-ph{
    max-width: 400px;
    margin:auto;
}

.z-1 {
    z-index: 1;
}
.z-0 {
    z-index: 0;
}

@media only screen and (max-width: 550px) {
    .template {
        transform: scale(0.8);
    }
    .info-text {
        font-size: 30px;
    }
}
